.logoNavbar {
  font-size: 36px;
  color: #fff;
}
.nav {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}
.menuItems {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.menuItems {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.menuItems li a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.menuItems li {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 110px;
  font-size: 16px;
  border-radius: 25px;
}

.menuItems li:hover,
.menuItems li.active {
  color: #fff;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.popular {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
}
